<!--Footer-->

  <!--Footer Links-->
  <div class="container-fluid">
      <div class="row">

          <!--First column-->
          <div class="col-4">
              <p class="title">AXA EN EL MUNDO</p>
          </div>
          <!--/.First column-->

          <!--Second column-->
          <div class="col-8 text-right">
              <div class="title"><a href="#">Políticas de uso y privacidad</a> | <a href="#"> AXA México</a> © 2018</div>
            
          </div>
          <!--/.Second column-->
      </div>
  </div>
  <!--/.Footer Links-->

  <!--Copyright-->
  <div class="footer-copyright text-center">
      <div class="container-fluid">
          © 2018 Copyright: <a href="https://www.2bcore.com"> 2BCORE </a>
      </div>
  </div>
  <!--/.Copyright-->

<!--/.Footer-->